/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--color-body: #000000;
	--color-footer: #4a4a4a;
	--color-end-meeting: #e93f33;
	--color-icon-g: #68c709;
	--color-icon-w: #fefdfd;
}
body{
    font-family: 'Fredoka', sans-serif;
    background-color: var(--color-body);
}
header{
    max-width: 100%;
}
.debug{
    border: 1px solid green;
}
.wrapper{
    width: 100%;
    padding: 5px;
}
.wrapper-main{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
}
/* flex utility */
.d-flex{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
/* main */
main{
    overflow-y: auto;
    width: calc(100vh - 31);
}
.box{
    color: var(--color-icon-w);
    width: calc(100% / 7);
    padding: 10px 10px 0px 0px;
    display: block;
    position: relative;
}
img{
    width: 100%;
    display: block;
}
.fa-microphone-slash{
    color: var(--color-icon-w)
}
#bg-blurred{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-footer);
}